.headline {
  font-weight: 300;
  font-size: 1.9rem; /* 46/16 */
  color: $mainBlue;

  @mixin atSmall {
    font-size: 2.875rem; /* 46/16 */
  }

  &--centered {
    text-align: center;
  }
  &--orange {
    color: $mainOrange;
  }
  &--small {
    font-size: 1.2rem; /* 30/16 */
    @mixin atSmall {
    font-size: 1.875rem; /* 30/16 */
    }
  }
  &--narrow {
    max-width: 500px;
    /* to center horizontally */
    margin-left: auto;
    margin-right: auto;
  }
  &--light {
    font-weight: 100;
  }
  /* the nice thing about using 'em' in this context is that it's relative to
  the font size of the element itself: we can reuse this class on elements
  with different font sizes and the margin will scale */
  &--b-margin-small {
    margin-bottom: .5em;
  }
  &--b-margin-large {
    margin-bottom: 1.6em; /* 50/16 */
  }
  &--no-t-margin {

    margin-top: 0em;
    
  }
}
