.testimonial {
  background-color: rgba(255, 255, 255, .8);
  padding: 0 1.125rem 0.063rem 1.125rem;
  /* 18/16, 1/16, 18/16 */
  margin-bottom: 6rem;
  @mixin atLarge {
    margin-bottom: 0;
    padding: 0 1.813rem 0.063rem 1.813rem;
    /* 29/16, 1/16, 29/16 */
  }
  &__photo {
    border-radius: 50%;
    overflow: hidden;
    height: 160px;
    width: 160px;
    margin: 0 auto -80px auto;
    position: relative;
    top: -80px;
    border: 6px solid rgba(255, 255, 255, .8);
  }
  &__title {
    color: $mainBlue;
    text-align: center;
    font-size: 1.5rem;
    /* 24/16 */
    font-weight: 500;
    margin: 0;
  }
  &__subtitle {
    color: $mainOrange;
    font-weight: 400;
    text-align: center;
    margin: .25rem 0 1rem 0;
  }
  &--last {
    margin-bottom: 0;
  }
}
